@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	.table-responsive-block table,
	.table-responsive-block thead,
	.table-responsive-block tbody,
	.table-responsive-block th,
	.table-responsive-block td,
	.table-responsive-block tr {
		display: block
	}
	.table-responsive-block thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px
	}
	.table-responsive-block tr {
		background: #fff;
		line-height: 20px;
		margin-bottom: 10px
	}
	.table-responsive-block td {
		border: none;
		position: relative;
		padding-left: 40%;
		text-align: right;
		font-weight: 700
	}
	.table-responsive-block td.last {
		padding: 0;
		line-height: 50px
	}
	.table-responsive-block td.last a {
		color: #ff6d00
	}
	.table-responsive-block td:before {
		position: absolute;
		top: 13px;
		left: 10px;
		width: 45%;
		padding-right: 10px;
		text-align: left;
		white-space: nowrap;
		font-weight: 400
	}
	.table-responsive-block .table-order td:nth-of-type(1):before {
		content: "Đơn hàng"
	}
	.table-responsive-block .table-order td:nth-of-type(2):before {
		content: "Ngày"
	}
	.table-responsive-block .table-order td:nth-of-type(3):before {
		content: "Chuyển đến"
	}
	.table-responsive-block .table-order td:nth-of-type(4):before {
		content: "Địa chỉ"
	}
	.table-responsive-block .table-order td:nth-of-type(5):before {
		content: "Giá trị"
	}
	.table-responsive-block .table-order td:nth-of-type(6):before {
		content: "Tình trạng"
	}
	.table-responsive-block #order_details td:nth-of-type(1):before {
		content: "Sản phẩm"
	}
	.table-responsive-block #order_details td:nth-of-type(2):before {
		content: "Mã sản phẩm"
	}
	.table-responsive-block #order_details td:nth-of-type(3):before {
		content: "Giá"
	}
	.table-responsive-block #order_details td:nth-of-type(4):before {
		content: "Số lượng"
	}
	.table-responsive-block #order_details td:nth-of-type(5):before {
		content: "Tổng"
	}
	.table-responsive-block #order_details td:nth-of-type(6):before {
		content: "Tình trạng"
	}
	.table-responsive-block .totalorders td:nth-of-type(1):before {
		content: "Tạm tính"
	}
	.table-responsive-block .totalorders td:nth-of-type(2):before {
		content: "Phí vận chuyển"
	}
	.table-responsive-block .totalorders td:nth-of-type(3):before {
		content: "Tổng tiền"
	}
	.table-responsive-block .totalorders td:nth-of-type(4):before {
		content: "Số lượng"
	}
	.table-responsive-block .totalorders td:nth-of-type(5):before {
		content: "Tổng"
	}
	.table-responsive-block .totalorders td:nth-of-type(6):before {
		content: "Tình trạng"
	}
}

@media (max-width: 543px) {
	section.sidebar.left-content.col-lg-12 {
		padding: 0
	}
}

@media (max-width: 1199px) {
	header nav .mega-content {
		width: 940px
	}
	header nav .mega-content .level1.item {
		text-align: left
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.search.f-right {
		margin-right: 50px
	}
}

@media (max-width: 991px) {
	header>.container {
		position: relative
	}
	.menu-bar.hidden-md.hidden-lg {
		position: absolute;
		top: 40px;
		right: 15px;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		z-index: 1000
	}
	header .logo a {
		display: inline-block;
		text-align: left
	}
	header nav .nav-item {
		width: 100%;
		text-align: left;
		margin: 0
	}
	header nav .nav-item .dropdown-menu {
		display: none !important;
		position: static;
		border: none
	}
	header nav .nav-item.open a {
		background: none !important
	}
	header nav .nav-item.open>.dropdown-menu {
		display: block !important;
		margin: 0;
		padding: 0
	}
	header nav li.menu-line {
		display: none;
		border: none
	}
	header nav .nav-item>a {
		line-height: 20px;
		padding: 5px 15px 3px
	}
	header nav #nav-mobile .nav-item>.dropdown-menu {
		padding: 0 0 0 15px;
		position: static;
		width: 100%;
		float: none;
		border: none;
		padding-right: 7px
	}
	header nav .nav-item:hover>.dropdown-menu li.open>.dropdown-menu {
		display: block !important
	}
	.header-main {
		padding: 10px 0
	}
	#nav {
		padding-right: 0;
		display: none;
		padding-right: 0;
		padding: 10px 0
	}
	#nav.open {
		display: block
	}
	#nav .nav-link>.fa {
		float: right;
		line-height: 22px;
		margin-right: -15px;
		width: 40px;
		text-align: center;
		transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px)
	}
}

@media (max-width: 991px) {
	.logo {
		display: inline-block;
		font-size: 30px;
		line-height: 65px
	}
}

@media (max-width: 543px) {
	.topbar .a-left {
		display: none
	}
	.topbar ul.list-inline.f-right {
		float: left !important
	}
	.logo {
		display: block;
		font-size: 20px
	}
	.search.f-right {
		float: none;
		width: 100%
	}
}

@media (max-width: 420px) {
	.col-xs-6.footer-header {
		width: 100%
	}
}

@media (max-width: 543px) {
	.product-box .product-thumbnail>a {
		max-height: 1000px;
		height: auto
	}
	.product-box .product-thumbnail>a img {
		height: auto !important
	}
}

@media (max-width: 430px) {
	.collection p.title-head-info {
		position: static
	}
	.collection h1.title-head {
		margin-bottom: 5px
	}
}

@media (max-width: 320px) {
	.pagination>li.page-item {
		display: none
	}
}

@media (max-width: 375px) {
	.sodiachi .btn.btn-50 {
		width: 100%;
		margin-bottom: 10px
	}
}

@media (max-width: 768px) {
	.quick-view {
		display: none !important
	}
}

@media (min-width: 992px) {
	header nav {
		overflow: initial
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.footer .w-so-new {
		margin-top: 20px
	}
	.footer .w-so-new .newsletter .newsletter-title li h3 {
		font-size: 18px
	}
	header nav .nav-item>a {
		padding: 22px 9px 24px 9px
	}
	.best-choice .product-box .product-thumbnail img {
		height: 222px
	}
	.best-choice {
		min-height: 456px
	}
	.products-view-list .item-list-pro form {
		margin-bottom: 0
	}
	#gallery_01 .owl-item .item img {
		height: 88px
	}
	.section-news .partners .content-partner .partner #myCarousel .carousel-inner .item a {
		width: 46%
	}
	.section-news .Testimonial .content-testi #myCarousel-1 .control-carousel,
	.section-news .partners .content-partner .partner #myCarousel .control-carousel {
		top: -49px
	}
	.aside-item .title-head span {
		font-size: 20px
	}
	.blog-left .aside-content .title-head:before {
		width: 18%
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(3n+1) {
		clear: none
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(2n+1) {
		clear: left
	}
	.main-container .col-main .cart ul.checkout a {
		padding: 0 10px
	}
}

.best-choice {
	background: url(../../image/bg-slider.png) #000 no-repeat center 0;
	position: relative;
	min-height: 500px
}

@media (max-width: 767px) {
	.row-flex-reverse {
		display: flex;
		flex-direction: column-reverse
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.details-product .details-pro .btn {
		width: 165px;
		font-size: 16px
	}
	table.table.table-bordered.table-cart th {
		font-size: 12px
	}
	.cart .col-md-4.col-xs-12 {
		margin-bottom: 10px
	}
	.list-blogs .blog-item-content {
		clear: both;
		margin-top: 20px
	}
	.list-blogs .blog-item-thumbnail {
		margin-bottom: 20px
	}
	.best-choice .product-box .product-thumbnail img {
		height: 230px
	}
	.section-news .Testimonial .content-testi #myCarousel-1 .control-carousel {
		top: -49px
	}
	.section-news .partners .content-partner .partner #myCarousel .control-carousel {
		top: -49px
	}
	.action_bottom {
		margin-bottom: 15px
	}
	.aside-item .title-head {
		margin-top: 19px;
		font-size: 18px
	}
	.section-news .partners .content-partner .partner #myCarousel .carousel-inner .item a {
		width: 46%
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(3n+1) {
		clear: none
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(2n+1) {
		clear: left
	}
	.main-container .col-main .cart ul.checkout a {
		padding: 0 30px
	}
	.list-blogs .blog-item-content {
		width: 100%
	}
	#sort-by ul li {
		width: 150px
	}
	#gallery_01 .owl-item .item a {
		border: none
	}
	#gallery_01 .owl-item {
		border: 1px solid #e9e9e9
	}
	.list-blogs .blog-item-thumbnail {
		width: 100%
	}
	.list-blogs .blog-item-thumbnail img {
		width: auto;
		max-width: 100%
	}
	.payment span img {
		width: 30px
	}
	.footer .w-so-new .newsletter .newsletter-title li:last-child {
		display: none
	}
	.footer .w-so-new .newsletter .w-newlletter {
		margin-left: 10px;
		margin-top: 19px !important
	}
	.main-container .col-main .cart .cart-tbody .item-cart div div {
		height: 120px;
		min-height: 120px
	}
	.main-container .col-main .cart .cart-tbody .item-cart div {
		min-height: 135px;
		height: auto
	}
	.main-container .col-main .cart .btn-proceed-checkout {
		font-size: 12px;
		padding: 0 20px
	}
	.section_tab_product .item-pro .product-box .product-thumbnail a img.bethua {
		height: 200px
	}
}

@media (max-width: 767px) {
	#sort-by ul li {
		width: 150px
	}
	.product-tab .tab-link .tab-title {
		font-size: 13px
	}
	.details-product .details-pro .btn {
		width: auto;
		font-size: 14px;
		padding: 0 8px
	}
	.section-news .partners .content-partner .partner #myCarousel .carousel-inner .item a {
		width: 31.33333%
	}
	.copyright * {
		text-align: center !important
	}
	.action_bottom {
		margin-bottom: 15px
	}
	h1.title-head * {
		text-align: left !important;
		float: left !important;
		margin-bottom: 10px
	}
	.product-tab .tab-content.current {
		max-width: 100% !important
	}
	.page-title {
		overflow: hidden;
		clear: both
	}
	.pagination>li.page-item {
		display: inline-block
	}
	div#login h1.title-head {
		display: block;
		overflow: hidden;
		clear: both
	}
	.select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus,
	.select-item-qty-mobile .txt_center button.increase.items-count.btn-plus {
		width: 22px;
		padding: 0
	}
	.list-blogs .blog-item-content {
		clear: both;
		margin-top: 20px
	}
	.list-blogs .blog-item-thumbnail {
		margin-bottom: 20px
	}
	.section-news .Testimonial .content-testi #myCarousel-1 .w-text .text-content {
		padding: 19px 20px 16px 21px
	}
	.search-mobile .header_search .search_form .input-group-field.st-default-search-input.search-text {
		width: 310px;
		margin-top: 6px
	}
	.tag-product {
		clear: both
	}
	.select-item-qty-mobile .txt_center button.reduced.items-count.btn-minus {
		border-right: none !important
	}
	.blog-item-name {
		white-space: initial;
		text-overflow: initial
	}
	.logo p.welcome-msg {
		min-width: 200px
	}
	.blog-item-name {
		overflow: initial
	}
	.blog-left .aside-content .title-head:before {
		width: 40%
	}
	.search-mobile,
	.heading-cart,
	.menu-bar {
		margin-top: 3px
	}
	.header_search .input-group-btn {
		top: 5px
	}
	.pagination .page-link {
		padding: 0;
		width: 28px;
		height: 30px;
		margin: 1.5px;
		line-height: 28px
	}
	.products-view-grid .product-box .product-thumbnail>a {
		height: 100px
	}
	.products-view-grid .product-box .product-thumbnail a img {
		display: block;
		margin: 0 auto;
		max-height: 100px !important;
		height: auto !important;
		width: auto;
		max-width: 100%
	}
	.best-choice .product-box .product-thumbnail img {
		height: auto
	}
	.blog-left .aside-content .title-head:before {
		width: 36%;
		top: 9px
	}
	.products-view-list .item-list-pro .product-box .product-thumbnail {
		width: 100%
	}
	.products-view-list .item-list-pro .product-box .product-info {
		padding-left: 15px;
		width: 100%;
		margin-left: 0
	}
	.item-pro .product-box .product-info .product-name {
		min-height: 64px
	}
	nav.sticky {
		position: fixed;
		top: 0 !important;
		width: 100%;
		z-index: 99999;
		padding-top: 7px
	}
	aside.aside-item.blog-left .list-blogs-link .postContent {
		display: table
	}
	.best-choice .product-box {
		margin-bottom: 20px
	}
	.section-news .blog-item .postContent {
		display: table
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(3n+1) {
		clear: none
	}
	.category-products.products .products-view.products-view-grid .row>div:nth-child(2n+1) {
		clear: left
	}
	.section_tab_product .tabs-title .tab-link {
		display: block;
		width: 100%;
		text-align: left
	}
	#sort-by {
		width: 175px
	}
	select.form-control.sort-by-script {
		width: 98px
	}
	.btn-proceed-checkout-mobile2 {
		display: block;
		text-align: center;
		margin: 10px 0;
		line-height: 40px
	}
	.header_search.search-page .input-group .input-group-field.st-default-search-input.search-text {
		width: 280px
	}
	.header_search.search-page .input-group-btn {
		top: 0
	}
	.list-blogs .blog-item-content {
		width: 100%
	}
	.topbar {
		height: auto
	}
	.topbar>div>div>div {
		display: flex;
		flex-direction: column-reverse
	}
	.topbar .list-inline li {
		line-height: normal
	}
	.topbar .top-right {
		top: 0
	}
	.logo {
		margin-top: 10px;
		margin-bottom: 10px
	}
	.topbar .container>div {
		border-bottom: navajowhite
	}
	.table-responsive-block td:before {
		top: 8px
	}
	.login .table-responsive-block td a {
		padding-left: 72px;
		display: block
	}
	nav.sticky {
		padding-top: 3px
	}
	.aside-item .title-head span {
		padding-left: 15px
	}
	.blog-item-thumbnail {
		margin-bottom: 10px
	}
	.postContent {
		overflow: hidden;
		clear: both
	}
	.details-product .details-pro .custom-btn-number label {
		margin-top: 5px
	}
	.products-view-list .item-list-pro .product-box .product-thumbnail a {
		padding-top: 10px
	}
	.right-content .article-main .title-head {
		line-height: normal
	}
	.details-product .details-pro .custom-btn-number label {
		min-width: 80px
	}
	.swatch .header {
		min-width: 80px
	}
	.details-product .details-pro .btn {
		font-size: 12px
	}
	.details-pro .title-head {
		margin-top: 10px
	}
	.form-product .form-group {
		overflow: hidden;
		clear: both
	}
	.products-view-list .item-list-pro .product-box .product-info .product-name a {
		word-break: break-word
	}
	.blog-item-thumbnail img {
		width: auto
	}
	.list-blogs .blog-item-thumbnail {
		width: 100%;
		margin-right: 0
	}
}