body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand {
    font-size: 28px;
    margin-left: 20px;
    border-radius: 2px;
    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
    margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(43, 45, 189);
}

.navbar i {
    cursor: pointer;
    font-size: 25px;
    padding: 0 7px;
}

#PAGES_CONTAINER {
    background-color: rgb(134, 127, 182);
    padding: 10px;
}

.wrapper .container .row {
    margin-top: 20px;
}

.pagination {
    margin-top: 50px;
    margin-left: 110px;
}
.navbar{
    background-color: black;
}
#ads {
    background-color: rgb(36, 34, 34);
    padding-top: 60px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 60px;
}

.container{
    display: flex;
    flex-direction: column;
}
.product{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100% !important;
}
.cartegory_content{
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    background-color: black;
}
.cartegory_content_item{
    display: inline-block;
    border: 1px solid white;
    width: calc(25%-12px);
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cartegory_content_item > h1{
    color: white;
}
.cartegory_content_item > p{
    color: white;
}
.cartegory_content_item > sup{
    color: white;
}
.messenger{
    color: rgb(255, 255, 255);
    background-color: rgb(231, 29, 29); 
    border-radius: 30px;
    float: right;
    font: unset;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 340px;
    height: 56px;
    font-family: Avenir,sans-serif;
    font-size: 18px;
}
/*--------------Chatbox------------*/
#center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #chat-circle {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: #5a5eb9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    padding: 28px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865c3;
  }
  #chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
  }
  
  .chat-box {
    display: none;
    background: #efefef;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    /*   box-shadow: 0px 5px 35px 9px #464a92; */
    box-shadow: 0px 5px 35px 9px #ccc;
  }
  .chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
  }
  .chat-box-header {
    background: #5a5eb9;
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 17px;
  }
  .chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .chat-box-body:after {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTAgOCkiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PGNpcmNsZSBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgY3g9IjE3NiIgY3k9IjEyIiByPSI0Ii8+PHBhdGggZD0iTTIwLjUuNWwyMyAxMW0tMjkgODRsLTMuNzkgMTAuMzc3TTI3LjAzNyAxMzEuNGw1Ljg5OCAyLjIwMy0zLjQ2IDUuOTQ3IDYuMDcyIDIuMzkyLTMuOTMzIDUuNzU4bTEyOC43MzMgMzUuMzdsLjY5My05LjMxNiAxMC4yOTIuMDUyLjQxNi05LjIyMiA5LjI3NC4zMzJNLjUgNDguNXM2LjEzMSA2LjQxMyA2Ljg0NyAxNC44MDVjLjcxNSA4LjM5My0yLjUyIDE0LjgwNi0yLjUyIDE0LjgwNk0xMjQuNTU1IDkwcy03LjQ0NCAwLTEzLjY3IDYuMTkyYy02LjIyNyA2LjE5Mi00LjgzOCAxMi4wMTItNC44MzggMTIuMDEybTIuMjQgNjguNjI2cy00LjAyNi05LjAyNS0xOC4xNDUtOS4wMjUtMTguMTQ1IDUuNy0xOC4xNDUgNS43IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTg1LjcxNiAzNi4xNDZsNS4yNDMtOS41MjFoMTEuMDkzbDUuNDE2IDkuNTIxLTUuNDEgOS4xODVIOTAuOTUzbC01LjIzNy05LjE4NXptNjMuOTA5IDE1LjQ3OWgxMC43NXYxMC43NWgtMTAuNzV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjcxLjUiIGN5PSI3LjUiIHI9IjEuNSIvPjxjaXJjbGUgZmlsbD0iIzAwMCIgY3g9IjE3MC41IiBjeT0iOTUuNSIgcj0iMS41Ii8+PGNpcmNsZSBmaWxsPSIjMDAwIiBjeD0iODEuNSIgY3k9IjEzNC41IiByPSIxLjUiLz48Y2lyY2xlIGZpbGw9IiMwMDAiIGN4PSIxMy41IiBjeT0iMjMuNSIgcj0iMS41Ii8+PHBhdGggZmlsbD0iIzAwMCIgZD0iTTkzIDcxaDN2M2gtM3ptMzMgODRoM3YzaC0zem0tODUgMThoM3YzaC0zeiIvPjxwYXRoIGQ9Ik0zOS4zODQgNTEuMTIybDUuNzU4LTQuNDU0IDYuNDUzIDQuMjA1LTIuMjk0IDcuMzYzaC03Ljc5bC0yLjEyNy03LjExNHpNMTMwLjE5NSA0LjAzbDEzLjgzIDUuMDYyLTEwLjA5IDcuMDQ4LTMuNzQtMTIuMTF6bS04MyA5NWwxNC44MyA1LjQyOS0xMC44MiA3LjU1Ny00LjAxLTEyLjk4N3pNNS4yMTMgMTYxLjQ5NWwxMS4zMjggMjAuODk3TDIuMjY1IDE4MGwyLjk0OC0xOC41MDV6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS4yNSIvPjxwYXRoIGQ9Ik0xNDkuMDUgMTI3LjQ2OHMtLjUxIDIuMTgzLjk5NSAzLjM2NmMxLjU2IDEuMjI2IDguNjQyLTEuODk1IDMuOTY3LTcuNzg1LTIuMzY3LTIuNDc3LTYuNS0zLjIyNi05LjMzIDAtNS4yMDggNS45MzYgMCAxNy41MSAxMS42MSAxMy43MyAxMi40NTgtNi4yNTcgNS42MzMtMjEuNjU2LTUuMDczLTIyLjY1NC02LjYwMi0uNjA2LTE0LjA0MyAxLjc1Ni0xNi4xNTcgMTAuMjY4LTEuNzE4IDYuOTIgMS41ODQgMTcuMzg3IDEyLjQ1IDIwLjQ3NiAxMC44NjYgMy4wOSAxOS4zMzEtNC4zMSAxOS4zMzEtNC4zMSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEuMjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvZz48L3N2Zz4=");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  #chat-input {
    background: #f4f7f9;
    width: 100%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: none;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    color: #888;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
  }
  .chat-input > form {
    margin-bottom: 0;
  }
  #chat-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
  }
  #chat-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
  }
  #chat-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
  }
  #chat-input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
  }
  .chat-submit {
    position: absolute;
    bottom: 3px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: #5a5eb9;
    width: 35px;
    height: 35px;
  }
  .chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;
  }
  
  .chat-logs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  .chat-logs::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }
  
  .chat-logs::-webkit-scrollbar-thumb {
    background-color: #5a5eb9;
  }
  
  @media only screen and (max-width: 500px) {
    .chat-logs {
      height: 40vh;
    }
  }
  
  
  .cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: #666;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  .chat-msg {
    clear: both;
  }
  .chat-msg.self > .cm-msg-text {
    float: right;
    margin-right: 10px;
    background: #5a5eb9;
    color: white;
  }
  .cm-msg-button > ul > li {
    list-style: none;
    float: left;
    width: 50%;
  }
  .cm-msg-button {
    clear: both;
    margin-bottom: 70px;
  }

/*--------------Chatbox------------*/

/*--------------Orderpage------------*/
.order-page{
    font-family: Helvetica Neue, sans-serif;
    padding-left: 24%;
    padding-right: 22%;
}
.product-top {
    padding-top: 4%;
    padding-bottom: 3%;
}
.nav-home {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.product-content-left{
    flex : 2;
    width: 100%;
}
.product-content-left-img{
    width: 100%;
    border-style: solid;
    border-width: 1px ;
    border-color: gray;
}
.product-content-left-info p{
    font-size: smaller;
    color: black;
    padding-top: 10%;
}
.product-content-right{
    flex: 1;
    padding-left: 3%;
    width: 100%;
    height: 100%;
}
.product-content-right-product-name p{
    font-size: large;
}
.quantity input{
    width: 30%;
    border-style: solid;
    border-width: 1px ;
    border-color: gray;
}
.product-content-right-add-to-cart button{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    background-color: red;
    color: aliceblue;
    width: 300px;
    height: 30px;
}
.related-product{
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 21%;
}
.related-product-title{
    padding-top: 5%;
    padding-bottom: 4%;
}
.related-product-title p{
    font-size: 24px;
    font-weight: bold;
    color: #585656;
}
.related-item{
    margin-right: 20px;
    width: 180px;
    border-style: solid;
    border-width: 3px ;
    border-color: rgb(10, 10, 10);
}
.related-item p{
    font-size: 12px;
    color: rgb(0, 0, 0);
}
/*------------------Cartpage-------------------------*/
.cart {
     padding: 100px 0;
}
.cart-content-left {
    flex : 2;
    padding-left: 200px;
}
.cart-title{
    padding-bottom:0px;
    font-family: var(--main-text-font);
    font-size: 16px;
    color: black;
    border-bottom: 1px solid rgb(197, 194, 194);
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
.cart-content-left table th{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: black;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(197, 194, 194);
}
.cart-content-left td{
    font-size: 12px;
    border-bottom: 1px solid rgb(197, 194, 194);
}
.cart-content-left input{
    width: 40px;
}
.cart-content-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cart-content-left td:first-child img{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart-content-left td:nth-child(2){
    max-width: 130px;
}
.cart-content-left td:nth-child(3){
    max-width: 100px;
}
.cart-content-right{
    flex: 1;
    padding-left: 12px;
    padding-right: 200px;
}
.cart-content-right table{
    width: 100%;
}
.cart-content-right th{
    padding: 8px 0;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(197, 194, 194);
}
.cart-content-right td{
    padding: 25px 0;
    font-family: var(--main-text-font);
    font-size: 16px;
    color: black;
}
.cart-content-right td:nth-child(2){
    text-align: right;
}
.total-price{
    border-collapse: collapse;
    border-top: 1px solid rgb(197, 194, 194);
}
.cart-content-right button{
    border-style: none;
    background-color: red;
    color: aliceblue;
    width: 300px;
    height: 30px;
}
.cart-discount{
    padding-top: 30px;
    padding-left: 190px;
}
.cart-discount input{
    width: 25%;
    height: 40px;
    background-color: white;
    border-collapse: collapse;
    border: 1px solid rgb(101, 101, 101);
}
.cart-discount button{
    width: 10%;
    height: 40px;
    background-color: white;
    border-collapse: collapse;
    border: 1px solid rgb(101, 101, 101);
}
.cart-note{
    padding-top: 30px;
    padding-left: 190px;
}
.cart-note input{
    width: 35%;
    height: 100px;
    background-color: white;
    border-collapse: collapse;
    border: 1px solid rgb(101, 101, 101);
}


/*---------------Paymentpage---------------*/
body{
    color: #737373;
    background: white !important;
    font-size: 14px;
    font-family: Helvetica Neue, sans-serif;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
}
.section-title{
    text-align: center;
    color: black;
    padding: 20px;
}
.section:first-child {
    padding-top: 0;
}
.section {
    padding-top: 3em;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
}
.fieldset .field .field-input-wrapper .field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.94em 2.8em 0.94em 0.8em;
    word-break: normal;
}
.field-two-thirds {
    width: 66.66667% !important;
}
div {
    display: block;
}
.field-input {
    width: 100%;
    height: 50px;
}
.field-third {
    width: 33.33333% !important;
}
.section .section-content #form_update_shipping_method.default .content-box .content-box-row.content-box-row-secondary {
    padding: 0;
    background: transparent;
    border: none !important;
    margin: 0;
    width: 100%;
    display: block;
    box-shadow: unset !important;
}
.form{
    padding: 0;
}
.fieldset .field {
    width: 100%;
    float: left;
    padding: 0.45em;
    box-sizing: border-box;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border: none;
    background: transparent;
    line-height: normal;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
.step-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.5em;
}
.step-footer {
    z-index: 2;
    position: relative;
    margin-top: 1em;
    zoom: 1;
    padding-right: 20.1%;
    padding-top: 2%;
    padding-bottom: 5%;
}
.step-footer span{
    display: inline-block;
    border-radius: 4px;
    font-weight: 500;
    padding: 1.4em 1.7em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    position: relative;
    background: #338dbc;
    color: white;
}
.step-footer:after, .step-footer:before {
    content: "";
    display: table;
}
.step-footer:after {
    clear: both;
}
.step-footer:after, .step-footer:before {
    content: "";
    display: table;
}
::selection {
    background: #338dbc;
    color: white;
}
.step-footer .step-footer-previous-link {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 1em;
    float: left;
    display: block;
    padding-left: 26%;
}
.step-footer .step-footer-previous-link {
    cursor: pointer;
    display: block;
}

.buttonfx{
    color: black; /* button text color */
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 4px solid #eee;
    letter-spacing: 0.0625em;
    padding: 8px 10px; 
    text-transform: uppercase;
    font: bold 16px 'Bitter', sans-serif; /* use google font */
    line-height: 2;
    position: relative;
      display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
      text-decoration: none; /* remove underline if using A instead of BUTTON tag */
    overflow: hidden;
    transition: all .5s;
  }

  
  .curtaindown{
    border: 1px solid #eee;
    border-bottom: 4px solid #eee;
  }
  
  .curtaindown:before,
  .curtaindown:after{
    background: #259f6c;
    transform: translate3D(0,-100%,0);
  }
  
  .curtaindown:after{
    transform: translate3D(0,100%,0);
  }
  
  .curtaindown:hover:before,
  .curtaindown:hover:after{
    transform: translate3D(0,-50%,0);
    transition: all .5s;
  }
  
  .curtaindown:hover:after{
    transform: translate3D(0,50%,0);
  }
  