@font-face {
    font-family: 'SFUFuturaBold';
    src: url('Futura/Futura Bold font.ttf');
  }
  body, span, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-family:"Roboto","HelveticaNeue","Helvetica Neue",sans-serif!important;
  }
  
  img, .container {max-width: 100% !important;}
  .full-width {
      width: 100% !important;
      margin: auto !important;
  }
  h1, h2, h3, h4, h5, h6 {line-height: 1.425;}
  /*==========================================*/
  button {
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -ms-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
  }
  /*==========================================*/
  /* Default bg,... */
  footer.footer .site-footer {
      background-image: url('../image/bg_footer.png');
      background-color: #212633;
  }
  /*==========================================*/
  .wishlist_header .img_hotline {left:0;}
  .wishlist_header .img_hotline .fa {
      font-size: 24px;
      color: #F62D3E;
      text-align: center;
  }
  .section_service_end .service_item_ed .iconx {
      text-align: center;
      font-size: 36px;
      color: #F62D3E;
  }
  .section_service_end .service_item_ed .iconx i.fa {
      border: 2px solid;
      border-radius: 100%;
      width: 74px;
      height: 74px;
      line-height: 74px;
      overflow: hidden;
  }
  h2.description_short {
      font-size: 16px;
      font-family: arial;
  }
  #sort-by ul ul { 
      width: 200px; 
      left:auto;
      right:0;
  }
  input[type="checkbox"], 
  .checkbox input[type=checkbox], 
  .checkbox-inline input[type=checkbox], 
  input[type="radio"],
  .radio input[type=radio], 
  .radio-inline input[type=radio] {
      margin: 0;
      left: 0;
      opacity: 1;
      height: 100%;
      width: auto;
  }
  .thumb_product_details .owl-item .item a {width: auto;}
  .pagination li span,
  .pagination li a {
      float: left;
      margin: 0 2.5px;
      border-radius: 3px;
      width: 35px;
      background: #F5F5F5;
      text-align: center;
      height: 35px;
      font-size: 1em;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      padding: 0;
      line-height: 35px;
      color: #474C5F;
      border: none;
      text-decoration: none;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
  .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
      background-color: #F62D3E;
      border-color: #F62D3E;
      color: #FFFFFF;
      display: block;
  }
  /* product comment */
  .store-product-reviews-form {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.6);
      top: 0;
      left:0;
      z-index: 9;
  }
  .store-product-reviews-form .store-product-reviews-frm {
      position: absolute;
      background-color: #FFF;
      padding: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 300px;
      width: 40%;
      border-radius: 4px;
  }
  .store-product-reviews-form .comment-form-close {
      font-size: 20px;
      font-weight:bold;
      width: 20px;
      height: 20px;
      line-height: 20px;
      background-color: #000;
      display: block;
      text-align: center;
      border-radius: 100px;
      color: #fff;
      position: absolute;
      top: -10px;
      right: -10px;
      cursor: pointer;
  } 
  .module_service_details .wrap_module_service .item_service .wrap_item_ .content_service .fa {
      position: absolute;
      width: 45px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  }
  .sidebar .owl-carousel .owl-nav .owl-prev, 
  .sidebar .owl-carousel .owl-nav .owl-next {top: -35px;}
  .sidebar .owl-carousel .owl-nav .owl-prev {
      left: auto;
      right: 40px;
  }
  .mid-header .content_header .header-left .header_searchs .search-bar .collection-selector {width: 90px;}
  .mid-header .content_header .header-left .header_searchs .search-bar .input-group-field {padding-left: 100px;}
  .topbar_currency,
  .topbar_language {position: relative;}
  .currencies_list,
  .languages_list {
      display: none;
      position: absolute;
      top: calc(100%);
      left: 15px;
      background-color: #fff;
      width: auto;
      min-width: 140px;
      border: 1px solid rgba(0,0,0,.1);
      z-index: 100;
  }
  .topbar_currency:hover .currencies_list,
  .topbar_language:hover .languages_list {display: block;}
  .topbar .topbar_right .currencies_list li,
  .topbar .topbar_right .languages_list li,
  .topbar .topbar_right .currencies_list li a,
  .topbar .topbar_right .languages_list li a {
      display: block;
      width: 100%;
      margin: 0;
      padding-left: 8px;
      text-align: left;
  }
  .number-sidebar.input_pop {
      padding: 0 10px;
      text-align: center;
      min-width: 90px;
  }
  /* custom for page checkout */
  #ajax-load-shipping-method .radio > label {
      display: flex;
      align-items: center;
  }
  #checkout_form .form-group {margin-bottom: 10px;}
  #checkout_form .form-group .form-control {
      width: 100%;
      margin-bottom: 0;
  }
  /* custom for account page, hope it dont break :v */
  fieldset > legend {
      width: auto;
      padding: 0 15px;
  }
  .buttons {
      position: relative;
      float: left;
      width: 100%;
      margin: 15px auto 20px;
  }
  .buttons input {
      position: unset;
      display: inline-block;
      opacity: 1;
      height: auto;
  }
  .aside-item.sidebar-category.filter .nav-item.lv2:before {
      content: none;
  }
  .sidebar-category.filter .aside-content .nav-item.lv2 a {
      padding-left: 30px !important;
  }
  .filter input[type="checkbox"], .filter .checkbox input[type=checkbox], .filter .checkbox-inline input[type=checkbox], 
  .filter input[type="radio"], .filter .radio input[type=radio], .filter .radio-inline input[type=radio] {
      position: relative;
      height: auto;
  }
  .sidebar-category.filter .aside-content .nav-item {
      float: left;
      width: 100%;
  }
  .sidebar-category.filter .aside-content .nav-item.lv2 {
      padding: 0;
      border: none;
  }
  .aside-item {margin-bottom: 20px;}
  .bx-wrapper {
      float: left;
      width: 100%;
      margin-bottom: 0 !important;
  }
  .product-col .product-box .product-thumbnail .image_link.display_flex {height: auto;}
  .sec_banner_infor .content_sec_banner_infor .infor {
    position: relative;
    padding: 0;
    min-height: 100px;
    cursor: pointer;
  }
  .sec_banner_infor .content_sec_banner_infor .infor .infor_h {padding: 15px 0}
  .sec_banner_infor .content_sec_banner_infor .infor .infor_h p {margin: 0}
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {font-size: 0}
  /*==========================================*/
  @media (min-width: 481px) {}
  @media (min-width: 561px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {
      .common-home .aside-item.sidebar-category:not(.filter) .nav-item > .dropdown-menu {
          position: absolute;
          left: 100%;
          top: 0;
          margin: 0
      }
      .common-home .aside-item.sidebar-category:not(.filter) .nav-item.active > .dropdown-menu {display: none}
      .common-home .aside-item.sidebar-category:not(.filter) .nav-item.active:hover > .dropdown-menu,
      .common-home .aside-item.sidebar-category:not(.filter) .nav-item:hover > .dropdown-menu {display: block}
      .common-home .aside-item.sidebar-category:not(.filter) .aside-content .nav-item.lv2 {padding: 13px 0}
  }
  @media (min-width: 1200px) {}
  /*==========================================*/
  @media (max-width: 1199px) {}
  @media (max-width: 991px) {
      .sidenav .close_menu {text-align: center;}
      /*.sidenav .close_menu img {text-align: center;}*/
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0,
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1,
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 {
          float: left;
          width: 100%;
      }
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1:first-child,
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2:first-child {
          border-top: solid 1px #FFFFFF;
      }
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 a {padding-left: 45px;}
      .sidenav .content_memu_mb .link_list_mobile .ct-mobile .level0 .level1 .level2 a {padding-left: 50px;}
  }
  @media (max-width: 767px) {
      .product-tab .tab-link {margin-bottom: 0 !important;}
      .product-tab .tab-link h3 {margin-bottom: 0 !important;}
      .product-tab .tab-content.current .rte {padding: 10px;}
      .awe-section-6 .section_bedroom {
          margin-left: -15px;
          margin-right: -15px;
      }
  }
  @media (max-width: 560px) {}
  @media (max-width: 480px) {
      .col_button_shopping, .col_button_checkout {
          float: left;
          width: 100%;
          margin-bottom: 10px;
      }
      .button_shopping, .button_checkout {
          display: block;
          width: 100%;
      }
      #checkout_form .table_order_items {width: 100%;}
      #submit_form_button {margin-bottom: 30px;}
  }
  @media (max-width: 360px) {}
  /*==========================================*/
  @media (max-width: 1199px) and (min-width: 992px) {}
  @media (max-width: 1199px) and (min-width: 768px) {}
  @media (max-width: 991px) and (min-width: 768px) {}
  
  /******************/
  .breadcrumb{
    display:block;
    background:unset;
  }
  .breadcrumb>li+li:before{
    display:none;
  }
  header nav .nav-item > a{
    line-height:unset;
  }
  header nav .nav-item{
    margin-right:0;
  }
  #nav .nav-item.has-mega i{
    padding-left:5px;
  }
  header nav .mega-content{
    width:100%;
  }
  .header .header-bottom .block-search input {
      background: none;
      border: 0;
      color: #a4a4a4;
      line-height: 46px;
      height: 46px;
      margin: 0;
      outline: none;
      padding-left: 10px;
      padding-right: 5px;
  }
  .header .header-bottom .block-search button{
    background:none;
  }
  .header .header-bottom .block-search button{
    color:#a4a4a4;
  }
  .logo-footer{
    width:100px;
    height:auto;
  }
  .block.newsletter form{
    margin-top:15px;
  }
  .block.newsletter button.subscribe{
    background:#dd111a;
    color:#fff;
  }
  .block.newsletter .valid{
    color:green;
  }
  .footer-copyright{
    text-align:center;
  }
  .awe-section-1 .owl-next,.awe-section-1 .owl-prev{
    height: 51px;
    width: 32px;
    border: 1px solid #f1f5f6;
    border-radius: 4px;
    background: #fff!important;
    box-shadow: 0 7px 10px 0 rgba(72, 139, 216, 0.2);
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 45px;
    top: 50%;
    transform: translate(0, -50%);
    color: #878fa0;
    font-size: 20px;
    margin: 0;
    right: 0; 
  }
  .owl-next .fa-angle-right,.owl-prev .fa-angle-left{
    font-size: 20px;
    position: absolute;
    top: 6px;
    left: 12px;
    color:#111;
  }
  .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background:#fff!important;
  }
  .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
    text-indent:unset;
    height:50px;
    top:50%;
    border-radius:5px;
    display:none;
  }
  .owl-prev .fa-angle-left,.owl-next .fa-angle-right {
    left:12px;
    top:15px;
    font-size:20px;
  }
  .owl-next .fa-angle-right{
    left:14px;
  }
  .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover{
    background:#fff!important;
  }
  .owl-carousel:hover .owl-prev, .owl-carousel:hover .owl-next{
    display:block;
  }
  .ion-md-globe:before,.ion-md-checkmark-circle-outline:before,.ion-ios-notifications:before,.ion-md-cart:before,.footer-container .footer-top .footer-static .footer-content .social-icons ul li a{
    padding:11px;
  }
  .mainmenu .fa-dashcube{
    padding-right:10px;
  }
  .ion-ios-search{
    padding-top:10px;
  }
  .heading h3:before, .heading h2:before{
    display:none;
  }
  .awe-section-9 .owl-dots{
    bottom:0;
  }
  
  .description_review{
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      min-height: 70px;
      display: -webkit-box;
  }
  .awe-section-9 .wrap_views{
    height:255px;
  }
  .page-login #login .title-head{
    text-transform:unset;
  }
  .sidebar .title-head span, .sidebar .title-head span:before, .left-content .title-head span:before{
    display:none;
  }
  .news-news .btn:hover{
    color:#fff;
  }
  .news-news .sidebar .title-head span,.news-news .sidebar .title-head span:before,.news-news .left-content .title-head span:before{
    display:block;;
  }
  .news-news .sidebar .title-head span{
    position:relative;
    top:0;
    left:0;
    font-weight:bold;
    padding:0;
  }
  .news-news .sidebar .title-head span:before{
    display:none;
  }
  .product-productall .sidebar .title-head span,.product-productall .sidebar .title-head span:before,.product-productall .left-content .title-head span:before{
    display:block;
    position:relative;
    top:0;
    left:0;
    font-weight:bold;
    padding:0;
  }
  .product-productall .sidebar .title-head span:before{
    display:none;
  }
  .aside-item.sidebar-category .nav-item:before{
    display:none;
  }
  .aside-item.collection-category .nav > li > a{
    padding:0;
  }
  .sidebar-category .aside-content .nav-item.active > a,.aside-item.sidebar-category .nav-item a,#filter-group-price .nav-link{
    padding-left:0!important;
  }
  .ant-product-item .box-info .box-hover{
    bottom:0;
  }
  .ant-product-item .image-container .sale{
    border-radius:unset;
  }
  .top-cart-content li.item .detail-item{
    padding-left:0;
  }
  .text2line{
    white-space:normal;
    display:block;
  }
  .aside-item.collection-category.blog-category .aside-content .nav-category .nav > li.nav-item .fa{
    top:0;
  }
  .number-sidebar.input_pop{
    min-width:0;
  }
  .box-info-product .action a{
    height:auto;
    margin-bottom:10px;
  }
  .box-info-product button{
    height:30px;
    padding:0 10px;
  }
  .ant-sidebar input{
    -webkit-appearance:checkbox;
  }
  /****** checkout ******/
  .main .main-header .logo-text{
    font-size:2em;
    margin:0;
  }
  .main .main-header .logo{
    font-size:unset;
    padding:0;
  }
  .main .main-header .breadcrumb{
    padding:0;
    margin-bottom:0;
  }
  .main .main-content .section-title{
    margin:0;
    font-size:1.28571em;
  }
  .main .main-content input,#form_discount_add input{
    height:41px;
    margin:0;
  }
  .fieldset .field .field-input-wrapper.field-input-wrapper-select::before{
    background:unset;
  }
  .sidebar table .product th,.sidebar table .product td{
    border:unset;
    padding:0;
  }
  .product-table th{
    border:unset
  }
  .product-table .product-description{
    text-align:left;
    padding-left:1em!important;
  }
  .product-price{
    display:table-cell!important;
  }
  .product-price .order-summary-emphasis{
    font-size:15px;
  }
  #form_discount_add button[type="submit"]{
    border-radius:4px!important;
  }
  #form_discount_add{
    margin-bottom:0!important;
  }
  .order-summary-section.order-summary-section-total-lines th,.order-summary-section.order-summary-section-total-lines td{
    border:unset!important;;
  }
  .form-group .form-control{
    min-height:41px;
    margin-bottom:0;
    border-radius:4px;
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
  }
  .sidebar .panel-heading, .sidebar .panel-body {
    padding:0;
  }
  input[name="coupon"]{
      box-shadow: 0 0 0 1px #d9d9d9;
      transition: all 0.2s ease-out;
      background-color: white;
      color: #333333;
      border-radius: 4px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 0.94em 2.8em 0.94em 0.8em;
      word-break: normal;
  }
  #button-coupon{
    margin-left:10px;
    background:#c8c8c8;
    border-radius:4px;
  }
  .total-line.total-line-subtotal:nth-child(3){
    border-top: 1px solid #e1e1e1;
    font-size:1.14286em
  }
  .total-line.total-line-subtotal:nth-child(3) span{
    font-size: 1.71429em;
    font-weight: 500;
    letter-spacing: -0.04em;
    color: #4b4b4b;
    line-height: 1em;
  }
  .content .wrap{
    position:relative;
  }
  .content .sidebar{
    position:unset;
  }
  .sidebar:after{
    left:60%!important;
  }
  .ant-sidebar.sidebar:after{
    display:none;
  }
  .ant-sidebar.sidebar{
    padding-top:0;
  }
  .details-product .form-product .form-group .custom-btn-number button,.details-product .form-product .form-group .custom-btn-number input{
    height:40px;
    min-height:40px;
    border-top-right-radius:unset!important;
    border-bottom-right-radius:unset!important;
  }
  .store-product-reviews-badge{
    display:block!important;
  }
  .form-group .input_number_product .btn_num.num_1{
    border-radius:unset;
  }
  .register .form-horizontal label{
    width:auto
  }
  .register .form-group{
    margin-bottom:10px!important;
  }
  .register .required {
    color:#111
  }
  .register input[type="radio"]{
    -webkit-appearance:radio;
    top:4px
  }
  .related-product .reviews-product-grid{
    display:none;
  }
  @media (max-width: 999px){
  .sidebar .sidebar-content .order-summary.order-summary-is-collapsed {
      height: auto;
      overflow: hidden;
    }
  }
  @media(max-width:767px){
    .sidebar:after{
      display:none;
    }
    .main{
      padding-top:0;
    }
    #button-coupon{
      margin-left:0;
    }
    .description_review{
      min-height:50px;
    }
    .logo-wrapper{
      text-align:center!important;
    }
    #cart .content{
      display:none;
    }
    .header .header-main .minicart-wrapper .showcart .count_item_pr{
      top:-25px;
    }
    .col-100-h .mobile-cart{
      right:0;
      top:25px;
    }
    .top_menu_mobile .close_menu img{
      max-height:100%;
    }
    .nav-mobile-button{
      top:20px;
    }
    .block.block-search{
      border:1px solid #e5e5e5;
      border-left:1px solid #e5e5e5!important;
    }
    .product .details-product .details-pro{
    padding:0 15px;
    }
    .product .details-product .product-tab .tabs-title .tab-link{
      padding:0;
    }
    .product .details-product .product-tab .tabs-title .tab-link{
      background:#fff;
    }
    .details-product .product-tab .tabs-title .tab-link h3{
      color:#111;
    }
  }
  @media (min-width: 1000px){
    .wrap {
      padding:0;
    }
  }
  .price.product-price-old{
      display: inline-block;
      font-size: 24px;
      color: #ed1b24;
      vertical-align: middle;
      margin-right: 10px;
      font-weight: 600;
  }
  #mySidenav .fa-angle-down{
    color:#fff;
    top:10px!important
  }
  #mySidenav i.show_open{
    top:0!important;
  }
  @media(max-width:767px){
    .section_product .content .tab-desktop{
      position:unset;
    }
    .awe-section-3 .awe-section-4 .content ul{
      margin-bottom:30px;
    }
    h2.title-head{
      font-size:15px!important;
    }
  }
  .section_customer .project_reviews .heading h2{
    font-size:15px!important;
  }
  
  .ant-sidebar .col-md-3.hidden-sm.hidden-xs{
    width:100%;
    padding:0;
    margin-bottom:20px;
  }
  .ant-sidebar .mainmenu{
    height: auto;
    color: #323c3f;
    cursor: pointer;
  }
  .ant-sidebar .mainmenu span{
    display: block;
      position: relative;
      padding: 7px 10px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 15px;
      color: #fff;
      border: 1px solid #ed1b24;
      background-color: #ed1b24;
  }
  .ant-sidebar .nav-cate{
    border: 1px solid #ebebeb;
    border-top: none;
  }
  .ant-sidebar .mainmenu .nav-cate ul {
      width: 100%;
      overflow: visible;
      border-top: none;
  }
  .ant-sidebar .mainmenu .nav-cate ul li {
      display: block;
      overflow: visible;
      padding: 5px 10px;
      cursor: pointer;
  }
  .ant-sidebar .mainmenu .nav-cate ul li h3 {
      position: relative;
      display: block;
      color: #000;
      line-height: 20px;
      padding: 5.7px 0;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
  }
  .ant-sidebar .mainmenu .nav-cate ul li h3 img {
      max-width: 22px!important;
      float: left;
      margin-right: 5px;
  }
  .ant-sidebar .mainmenu .nav-cate ul li h3 a {
      display: block;
      font-size: 14px;
      color: #000;
      padding-left: 27px;
      padding-right: 15px;
  }
  .ant-sidebar .mainmenu ul li:hover h3 a{
    color:#ed1b24;
  }
  
  /* custom */
  #cart .hotline{
    position: absolute;
    bottom: 15px;
    right: 0;
  }
  .section_product .mainmenu .nav-cate ul li .subcate{
    left: calc(100% - 15px);
  }
  .ant-sidebar .mainmenu span{
    display: block;
      position: relative;
      padding: 7px 10px;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 15px;
      color: #fff;
      border: 1px solid #5F8988;
      background-color: #5F8988;
  }
  .nav-cate ul li.dropdown {
      position: static;
  }
  .nav-cate ul li:hover {
      background: #fff;
  }
  .nav-cate ul li + li {
      border-top: 1px dashed #ebebeb;
  }
  .nav-cate ul li.dropdown:hover .subcate {
      display: block;
  }
  .nav-cate ul li .subcate {
      display: none;
      cursor: default;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: calc(100% - 0px);
      min-height: 350px;
      background: #fff;
      padding: 10px;
      width: 330%;
      font-weight: normal;
      z-index: 9999;
      border: 1px dashed #ed1b24;
  }
  .nav-cate ul li h3 a i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
  }
  .nav-cate ul li .subcate .subcate-flex {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .nav-cate ul li .subcate aside {
      width: 200px;
      padding: 5px 10px;
      float: left;
      overflow: hidden;
      cursor: default;
  }
  .nav-cate ul li .subcate aside a {
      line-height: 20px;
      display: block;
      text-transform: none;
      padding: 2px 0 !important;
  }
  .section_banner_home .text p:nth-child(2){
    position: relative;
    margin-bottom: 30px;
  }
  .section_banner_home .text p:nth-child(2):after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    width: 40px;
    height: 2px;
    background: #ffffff;
    transform: translateX(-50%);
  }
  /* end custom */
  /* top header */
.mini-cart{
    padding: 5px 20px;
  }
  .top-cart-content{
    display: none!important;
  }
  .count_item_pr, .top-cart-contain .text{
    color: #fff;
  }
  .showcart img{
    position: relative;
    top: -2px;
  }
  /* end top header */
  /* menu */
  header nav .nav-item > a{
    text-transform: unset;
  }
  header nav{
    overflow: unset;
  }
  /* end menu */
  .awe-section-1 .owl-next, .awe-section-1 .owl-prev, .awe-section-1 .owl-nav .owl-next:hover, .awe-section-1 .owl-nav .owl-prev:hover{
    display: block!important;
    background: unset!important;
  }
  .awe-section-1 .owl-next i, .awe-section-1 .owl-prev i{
    color: #fff;
    font-size: 100px;
    top: 0;
  }
  .section_product .section-head .group-icon, .section_product .section-head h2:after{
    display: none;
  }
  .ajax-tab-1 .tabs{
    max-width: unset;
    float: unset;
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0 20px;
    position: relative;
  }
  .section_product .section-head h2{
    margin: 0;
    padding: 0;
    background: unset;
    color: #474C5F;
    font-size: 22px;
    display: block;
  }
  .section_product .section-head{
    border: none;
    text-align: center;
  }
  .section_product .section-head{
    position: relative;
  }
  .section_product .section-head:before{
    width: 100%;
    height: 10px;
    content: "";
    background: url(//bizweb.dktcdn.net/100/187/190/themes/595275/assets/line-blog.png?1539742072195);
    position: absolute;
    bottom: 13px;
    left: 0;
  }
  .section_product .content .ant-product-item .product-item-photo{
    height: unset;
  } 
  .ant-product-item .image-container {
      position: relative;
      overflow: unset;
  }
  .tab-content{overflow: unset}
  /* footer */
  .footer-container .footer-bottom {
      background: #000;
  }
  .footer-container .footer-bottom .copyright{
    color: #909090
  }
  footer .copyright a{
    color: #ff6d00;
    font-weight: unset;
  }
  .footer-container .footer-top{
      border-top: 10px solid #ff6d00;
      background: url(//bizweb.dktcdn.net/100/187/190/themes/595275/assets/bg-header-top.png?1539742072195);
  }
  .footer-container .footer-top .footer-static{
    border: none;
  }
  .footer-container .footer-top .footer-static .footer-title{
    color: #686868;
  }
  a:hover, .section_product .content .tab-desktop li.current span, .section_product .content .tab-desktop li:hover span{
    color: #ff6d00!important;
  }
  
  /*service_header */
  .our-service {
      background: none repeat scroll 0 0 #EEEEEE;
      position: relative;
      padding: 30px 0;
  }
  .our-service .our-service__inner i{
    border: none;
    font-size: 40px;
  }
  .our-service .our-service__inner .our-service__content p{
    font-size: 16px;
  }
  .our-service .our-service__inner .our-service__content div p{
    font-size: 13px;
  }
  
  /* news module */
  .heading{
     text-align: center!important;
  }
  .heading h2 {
      font-size: 22px;
      color: #686868;
      font-weight: normal;
      display: inline-block;
      margin-top: 20px;
      background: #fff;
      position: relative;
      padding-right: 5px;
  }
  .section-news .blogs-content .heading h2:after{
    display: none;
  }
  .section-news .blogs-content .heading h2{
    padding: 0 20px;
  }
  .section-news .blogs-content .heading{
    border: none;
  }
  .section-news .blogs .heading:before{
    left: 0;
  }
  /* custom color */
  .ant-product-item .box-info .box-hover .add-to-links .actions-primary button:hover, .ant-product-item .box-info .box-hover .add-to-links .actions-primary button:focus, .ant-product-item .box-info .box-hover .add-to-links .quick-view:hover, .ant-product-item .box-info .box-hover .add-to-links .quick-view:focus, .section-news .blogs-content .section-news-owl .item-inner .blog-content .readmore:hover, .section-news .blogs-content .section-news-owl .item-inner .blog-content .readmore:focus{
    background: #ff6d00;
  }
  .quick-view:hover i, .readmore:hover{
    color: #fff!important;
  }
  .ant-product-item .box-info .item-price .price-box .special-price .price, .section-news .blogs-content .section-news-owl .item-inner .blog-content .time-comment i, .bread-crumb .breadcrumb li a:hover, .bread-crumb .breadcrumb li.active, .bread-crumb .breadcrumb li strong{
    color: #ff6d00;
  }
  .bread-crumb{
    background: #fff;
    margin: 0!important;
  }
  .breadcrumb li span{
    padding: 0;
  }
  .bread-crumb .breadcrumb li span .fa{
    margin: 0;
  }
  .category-products.products .products-view.products-view-grid .row > div:nth-child(3n + 1){
    clear: unset;
  }
  .logo{
    line-height: 1.425;
  }
  .aside-item .title-head span{
    background: none;
    border: none;
    font-size: 16px;
  }
  .sidebar-category .aside-content .nav-item.active > .dropdown-menu{
    display: block!important;
    padding: 0;
    margin: 0;
    background: unset;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .btn-blues, #btnnewreview{
    background: #ff6d00;
  }
  .sort-cate-left h2{
    font-size: 16px;
  }
  .ion.ion-md-arrow-dropright{
    margin-right: 10px;
  }
  .article-wraper .article-main .blog_related h2{
    text-transform: unset;
  }
  .page-login #login .btn-blues{
    border-color: #ff6d00;
    color: #ff6d00;
  }
  .page-login #login .btn-blues:hover, .page-login #login .btn-blues:focus, .page-login #login .title-head:after{
    background: #ff6d00;
  }
  footer .back-to-top{
    bottom: 120px;
    position: fixed;
    background: #ff6d00;
    z-index: 9999999;
  }
  footer .back-to-top:hover{
    background-color: rgb(255 109 0 / 0.7);
  }
  .ant-sidebar .mainmenu{
    margin-bottom: 20px;
  }
  .section_tab_product .tabs-title li{
      color: #ff6d00;
      background: #fff!important;
  }
  .section_tab_product .tabs-title li{
    height: auto;
    width: auto;
  }
  .section_tab_product .tabs-title li:last-child{
    padding-right: 0;
  }
  .section_product .content .tab-desktop li + li{
    margin: 0;
  }
  .section_product .section-head h2{
    margin-bottom: 20px;
  }
  .section_tab_product .tabs-title li{
    text-transform: unset;
  }
  @media (min-width: 1024px){
    .category-products-grids .products-view-grid .col-xs-6:nth-child(4n+1) {
      clear: unset;
    }
  }
  /* responsive */
  @media(max-width: 767px){
    .minicart-wrapper{
      line-height: 1.425;
    }
    .mini-cart{
      height: auto;
    }
    .menu-bar{
      margin: 0;
      margin-top: 3px;
    }
    .mm-menu.mm-offcanvas{
      z-index: 9999;
    }
    #my-menu{
      -webkit-transition: -webkit-transform .4s ease;
      transition: -webkit-transform .4s ease;
      transition: transform .4s ease;
      transition: transform .4s ease,-webkit-transform .4s ease;
      z-index: 9999;
    }
    .section_product .content .tab-desktop{
      background: none repeat scroll 0 0 #fff!important;
      display: inline-block;
      list-style: none outside none;
      margin: 0;
      padding: 0 5px 0 20px;
      position: relative;
      overflow: hidden;
    }
    ul.tabs li{
      display: block;
      width: 100%;
      text-align: left;
      position: relative;
    }
    ul.tabs li:before{
      position: absolute;
      content: "";
      top: 8px;
      font-size: 8px;
      left: 0;
      width: 7px;
      height: 7px;
      content: "\f1cb";
      font-family: Fontawesome;
      color: #ff6d00;
    }
    .section_product .content .tab-desktop li{
      margin: 0;
      padding: 0 20px;
      font-size: 16px;
      height: 40px;
    }
    .section_product .content .tab-desktop li + li{
      margin: 0;
    }
    .our-service__box{
      margin-bottom: 20px;
    }
    .our-service__box:last-child{
      margin-bottom: 0;
    }
    .section_product .col-xs-12{
      padding: 0;
    }
    #sort-by ul li{
      background-position: right center;
      background-repeat: no-repeat;
      background-position: right 10px center;
    }
    .ant-sidebar{
      height: 0;
    }
    .sortPagiBar{
      border: none;
    }
  }
  .product-box .product-content h2, .product-box .product-content strong, .product-box .product-content td,.product-box .product-content h3 {
    color: #fff;
  }
  .best-choice .product-box:hover .product-thumbnail-img img {
    background: #000;
    opacity: 0!important;
  }
  .best-choice .product-box:hover .product-thumbnail-img {
    background: #000;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out 0s;
  }