<div class="container">
    <!-- 4 product row each 4 items -->
    <h3>Best Seller</h3>
    <div class = "row">
        <div class="col-lg-3">
            <div class="card">
            <a href = ".\controllers\product-details.php">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
            <a href = "">
            <img class="card-img-top" src="images\8558_dell_latitude_3520_4_sp11.jpg" alt="">
            </a>
            <p>8558_dell_latitude_3520_4_sp11</p>
            <p style="font-weight: bold">1000000<sup>đ</sup></p>
            </div>
        </div>
    </div>
</div>